<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149935514596-nb2ig9fthg3j2p0invsdd91tsqjq0deb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149935514596-nb2ig9fthg3j2p0invsdd91tsqjq0deb</string>
	<key>API_KEY</key>
	<string>AIzaSyBNdgYUh4SF5E6RcofXrUvo-iqc-40Xtl4</string>
	<key>GCM_SENDER_ID</key>
	<string>149935514596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martins-forcadevendas</string>
	<key>PROJECT_ID</key>
	<string>martinsgestaoforcavendas</string>
	<key>STORAGE_BUCKET</key>
	<string>martinsgestaoforcavendas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149935514596:ios:b872e21c979061b4459df1</string>
</dict>
</plist>